jdk: oraclejdk8

language: node_js
node_js: lts/*

addons:
  apt:
    update: true
    packages:
    - curl
    - fonts-liberation
    - libappindicator1
    - google-chrome-stable

install: true
before_install:
- export CHROME_BIN=/usr/bin/google-chrome
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
#
- curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
- echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
- sudo apt update -y || true
- sudo apt install --no-install-recommends -y yarn

script:
- export root=$(pwd)
#
- >
  for path in \
    refs-work-natively-with-DOM-elements \
    eventbus \
    vue-parcel \
  ; do
    cd ${root}/${path}
    yarn -i
    yarn predeploy
  done
#
- >
  for path in 10-responsive-web-design \
              09-nuxt-server-side-rendering \
              08-vuex-map-getters-and-map-actions \
              07-vue-material \
              06-materialize-css \
              05-vuex-contact-list \
              04-vuex-counter-todo \
              03-hello-vuex \
              02-todo-list \
              01-hello-world \
              0-template; do
    cd ${root}/${path};
    yarn install;
    yarn predeploy;
    if [ -f npm-debug.log ]; then cat npm-debug.log; fi;
    yarn build --report
  done;
# firebase.js
- >
  for path in 12-vuetifyjs-setup \
              11-firebase-using-vuefire; do
    cd ${root}/${path};
    cp firebase.js.default firebase.js || true
    yarn install;
    yarn predeploy;
    if [ -f npm-debug.log ]; then cat npm-debug.log; fi;
    yarn build --report
  done;
# firebase.config.js
- >
  for path in 14-some-vuetify-app \
              13-vuetify; do
    cd ${root}/${path};
    cp firebase.config.js.default firebase.config.js || true
    yarn install;
    yarn predeploy;
    if [ -f npm-debug.log ]; then cat npm-debug.log; fi;
    yarn build --report
  done;

cache:
  directories:
  - node_modules/
  - $HOME/.npm

env:
  global:
  - TERM=dumb
  - secure: g80MSLgxtVqyYayEga+2JMTg/2MdLxmcdqefk42scs8iPgnLVgkZKrRnlqVN5qDcrsnV558ehIOSypWX3xnFILOm3/DktqMJ0NJ1tCOiDdxbcYIlm3vE5Sn1zkSh2W2hzNqoYTRv1rrE2bMggLZIvzHZYPpvP5ugReIoZSxyu6Aj8gjYWoVWN7xI4QTcPnIxXlEDcRdqATJIdjNCFB0lNNJHmvNgy843eGKcwgrCrzLLzyCSIrB/VWfaqezvjPZMITVXl0ol0OmglIgmwFPLUTwDTOgv7lPGsfLz0jugi4z1dIpG4dR4bgMjX2WnUrpTPu/tkNMvOfWshoqbpYZRzSGRK81OuIDUwCRC48I4ErMzgukH5sX732nL1wWfQaYMmppLKLvADMdVBzPILd9Y06k8whH6SqxN+8AfF5UcyGMMYmRpTOqu1G94ppQLTS+KLkW6vi0PZDz4IydwkYSJthr2fKMngNXloN1e4CQVYR8TTkHFcK3AaNGi44sLIFtXmQ0q4U9SmJBO7O56l7JvzekLq1vPelwK9kC8Hz82jGk54pkRBIm8j7n166UC9nsb6nl7PKvpBnFj0bUQdTEV4LtWDMLLiurk/Y4ygzgq653wzDrR7x7hELgkD09/UxsuweTRpgkPFQFCzQKuHafs0KUqLEL3pdWnvyBxagsNzNU=

before_deploy:
- cd ${root}
- ./mvnw -Pdocs

deploy:
  provider: pages
  skip-cleanup: true
  # travis encrypt GITHUB_TOKEN=<your github repo token> --add
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  on:
    branch: master
  local-dir: target/generated-docs
  target_branch: gh-pages
