group: edge

language: node_js

node_js:
  - 6
  - 7
  - 8

install: true

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt update
  - sudo apt install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

before_script:
  - npm i -g yarn

script:
  - export ROOT=$PWD
  - >
    for path in 01-hello-world \
                0-template; do

      export TARGET="$ROOT/$path";
      cd $TARGET;
      yarn install;
      yarn predeploy;
      if [ -f npm-debug.log ]; then cat npm-debug.log; fi;

    done;

after_script:
  - npm outdate
  #
  - yarn install
  - yarn upgrade
  - yarn predeploy
  #
  - yarn global add npm-check-updates
  - ncu -u
  - yarn predeploy
  #
  - npm outdate

cache:
  directories:
    - node_modules/
    - $HOME/.npm
