body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font: 2vh/1.5 Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.dark {
  background: #35424a;
  color: #fff;
  margin: 1vh 0 5vh;
  padding: 2vh;
}

/**/

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  background: #353637;
  color: #fff;
  padding-top: 3vh;
  min-height: 7vh;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

/*
item1
item2 => item1 item2 item3
item3
 */
header li {
  float: left;
  display: inline;
  padding: 0 2vh;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

/* move nav right */
header nav {
  float: right;
  margin-top: 1vh;
}

header .highlight, header .current a {
  color: #32a0c2;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/**/

#showcase {
  min-height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
                              rgba(0, 0, 0, 0.5)),
              url("../static/i.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#showcase h1 {
  margin-top: 10vh;
  font-size: 5vh;
  margin-bottom: 1vh;
}

#showcase p {
  font-size: 2vh;
}

/**/

#newsletter {
  min-height: 5vh;
  padding: 2vh;
  color: #fff;
  background: #353637;
}

#newsletter h1 {
  float: left;
  margin: 1vh 0 0 2vh;
}

#newsletter form {
  float: right;
  margin-top: 1vh;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  min-width: 50%;
  font-size: 2vh;
}

.subscribe-btn {
  height: 38px;
  background: #ccc;
  border: 0;
  padding: 0 20px 0 20px;
  color: #353637;
  font-size: 2vh;
  min-width: 20%;
}

/**/

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 31%;
  min-width: 300px;
  padding: 10px;
}

footer {
  text-align: center;
  color: #32a0c2;
  background: #353637;
  height: 10vh;
  padding-top: 2vh;
  margin-top: 2vh;
  /* put footer bottom */
  clear: both;
}

/**/

article#main {
  float: left;
  width: 65%;
}

aside#sidebar {
  float: right;
  width: 30%;
  padding: 2vh;
}

article#main h1,
aside#sidebar h1 {
  font-size: 5vh;
}

/**/

@media(max-width: 1067px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main, aside#sidebar {
    float: none;
    text-align: center;
    width: 99%;
  }

  header #branding {
    font-size: 4vh;
  }

  header {
    padding-bottom: 3vh;
  }

  #showcase h1 {
    font-size: 10vh;
    margin-top: 1vh;
  }

  #showcase p {
    font-size: 3vh;
  }

  #newsletter {
    min-height: 5vh;
    padding: 2vh;
    color: #fff;
    background: #353637;
  }

  #newsletter h1 {
    font-size: 5vh;
    margin: 0 0 0 1vh;
  }

  #newsletter input[type="email"] {
    height: 40px;
    width: 70%;
    font-size: 2vh;
    margin-top: 5px;
  }

  .subscribe-btn {
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 2vh;
  }

  .subscribe-btn {
    margin-left: 2vh;
    height: 5vh;
  }

  .box {
    font-size: 3vh;
  }

  article#main h1,
  aside#sidebar h1 {
    font-size: 6vh;
  }

  article#main p,
  aside#sidebar p {
    font-size: 3vh;
  }
}

/*
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 99%;
  }
}
*/
